.slogan-home, .slogan-course {
    margin-left: 10px;
    font-size: 18px;
    color: #fff;
}
.navbar-right li a{
    font-size: 18px;
    padding: 15px;;
}
.slogan-course {
    margin-left: 25px;
}
.only-mob {
    display: none;
}
.bg-inh {
    background: none;
}
.bg-col {
    background: #225470;
    color: #fff;
}
ul {
    padding-left: 0;
}
ul li{
    list-style: none;
    display: inline-block;    
}

.navbar {
    background-color: #225470;
}
.nav-style {
    margin-top: 15px;
}
.nav-style a{
    color: #fff;
    font-size: 17px;
    padding: 5px;
    text-align: center;
}
.nav-style a:hover{
    color: #e3e3e3;
    background-color: #225470!important;
}
a:hover{
    text-decoration: none;
}
.icon-bar{
    background: #e3e3e3;
    margin-top: 18px;
    margin-right: -20px!important
}

.bn-font{
    font-family: 'Kalpurush';
}
.en-font {
    font-family: 'oxygenlight';
}
.fr-font {
    font-family: 'Parisienne';
}
.no-uppercase {
    text-transform: none;
}
.banner, .banner-beginner {
    text-align: center;
    background: url(../img/rawbg1.jpg) center no-repeat;
    background-size: cover;
}
.banner-beginner {
    background: url(../img/bonjour.jpg) center no-repeat;
    text-transform: uppercase;
}
.banner-overlay {
    background-color: rgba(0,0,0,.6);
}
.banner h1, .banner-beginner h1{
    font-family: 'Kalpurush';
    color: #fff;
    margin: 130px 0px 75px 0px;
}

.banner button {
    padding: 15px 55px;
    font-size: 21px;
    font-family: 'Kalpurush';
    margin-bottom: 100px;
}
.bord-thin {
    border: 1px solid rgba(0,94,166,.1);
    border-radius: 3px;
}

.sect-title {
    margin-top: 45px;
}
hr {
    background-color: #e3e3e3;
    height: 1px;
}
.sect-title h1{
    font-size: 32px;
}

.btn-leson {
    background: #225470;
    margin: 15px;
    font-size: 17px;
}
.sect-why {
    background: url(../img/people.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.why-bg {
    background-color: rgba(0,0,0,.7);
}
.sect-why h1, .why-photo img{
    margin-top: 75px;
    color: #fff;
    text-align: left;
    
}
.why-text ul {
    margin-top: 20px;
    margin-bottom: 75px;
}
.why-text ul li{
    display: inherit;
    color: #fff;
    text-align: left;
    margin-bottom: 5px;
    font-size: 19px;
}

.why-photo img {
    width: 100%;
}

footer {
    background-color: #225470;
    color: #fff;
    font-size: 16px;
    margin-top: 45px;
}

.site-tile, .support, .foot-menu, .foot-social {
    margin: 45px 0px;
    
}
.site-tile a{
    margin: 25px 0px;
    font-size: 16px;
    color: #fff;
}
.fa-envelope {
    margin-bottom: 10px;
}
.email {
    font-size: 14px!important;
}
.foot-menu {
    margin-bottom: 0px;
}
.foot-menu ul li{
    display: inherit;
    margin: 10px 0px;
}
.foot-menu ul li a {
    font-size: 16px;
    color: #fff;
}
.foot-menu ul li a:hover{
    background: none!important;
    text-decoration: underline;
}
.foot-social a{
    color: #fff;
    font-size: 19px;
    padding: 5px;
    background-color: rgba(0,0,0,.5);
}

.foot-social a:hover{
    background-color: #fff;
}
.fa-facebook:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #0084b4;
}
.fa-google-plus:hover {
    color: #d34836;
}
.copyright {
    background: #204056;
    padding: 5px;
    margin-top: 15px;
}
.copyright p{
    margin: 10px 0px;
    font-size: 14px;    
}
.copyright a {
    color: #fff!important;
}

.hambox {
    width: 50%;
    padding: 15px;
    font-size: 17px;
    margin-top: 45px;
    color: #fff;
    background: #225470;
    float: left;
    height: 125px;
}
.hambox p{
    margin: 0px;
}

.hambox-img img{
    width: 50%;
    margin-top: 45px;
    height: 125px;
    border: 1px solid rgba(0,0,0,.5);
}

.course-page-logo img{
    background: #225470;
    margin-top: 15px;
    margin-bottom: 20px;
}


.active-course li{
    background: #e3e3e3;
    color: #225470!important;
}


.course-title ul li {
    margin: 0px 10px;
}
.course-title h1{
    font-size: 26px;
}
.bn-alpha {
    font-size: 21px;
    font-weight: 300;
}
.days {
    overflow: hidden;
}
.days ul li{
    width: 170px;
    height: 140px;
    background: #fff;
    color: #222;
    border-radius: 3px;
    font-weight: 600;
    margin: 15px 10px 0px 0px;
    text-align: center;
    border: 1px solid #2A90DE;
    float: left;
}
.alpha ul li h2{
    font-size: 26px;
    padding-bottom: 15px;
}
.alpha ul li p {
    font-size: 17px;
}
.accents h1{
    text-transform: uppercase;
    font-size: 26px;
}
.accents-text {
    font-size: 18px;
    color: #222;
}
.acc-char {
    padding: 2px;
    font-weight: 600;
    text-transform: uppercase;
}
.course-cat{
    margin-bottom: 10px;
}

.course-cat h1{
    font-size: 26px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: #2A90DE;
}
.course-cat p{
    margin-bottom: 0px;
    border-bottom: 1px solid #2A90DE;
    font-size: 26px!important;
}

.days h2{
    line-height: 60px;
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: .5px;
    border-bottom: 1px solid #2A90DE;
    font-weight: 600;
}
.days p {
    font-size: 19px;
}


.mt-35 {
    margin-top: 35px;
}
.course-nav {
    background: #225470;
    border-radius: 2px;
}
.course-nav li{
    width: 100%;
    padding: 8px;
    color: #fff;
    font-size: 17px;
    border-bottom: .3px solid #fff;
}


.no-padd {
    padding: 0;
    margin-right: 0px!important;
}
.course-nav li:hover{
    background: #e3e3e3;
    color: #222;
}


.course-title-top {
    font-size: 26px;
    margin-top: 25px;
    text-transform: uppercase;
}

.main-menu-links {
    margin-bottom: -25px;
}
.main-menu-links ul li a{
    font-size: 16px;
    text-decoration: underline;
}
.main-menu-links ul li a:hover{
    text-decoration: inherit;
}
.mt-0 {
    margin-top: -15px!important;
}

.sm-fs h2{
    font-size: 15px!important;
}
.sm-fs p{
    font-size: 17px!important;
}

@media only screen and (max-width: 767px) {
    .main-menu-links {
        margin-top: 25px;
        text-align: center;
    }
    .days ul li, .sm-fs {
        float: none;
    }
    .days ul li{
    width: 150px;
    height: auto;
}
    .days h2{
    line-height: 40px;
    font-size: 15px;
}
.days p {
    font-size: 17px;
}
    .only-mob {
        display: inherit;
    }
    .only-pc {
        display: none;
    }
    .navbar-brand {
        margin-left: -30px;
    }
    .home-logo {
        margin-left: 0px;
    }
    .slogan-home {
        font-size: 15px;
        margin-left: 25px;
        margin-top: 35px;
    }
    .slogan-course{
        font-size: 15px;
        margin-left: -5px;
        margin-top: 35px;
        margin-bottom: 0px;
    }
    .course-title-top{
        text-align: center;
        font-size: 19px!important;
        margin-bottom: 18px;
    }
    .nav-style li{
        border-bottom: 1px solid #fff;
    }
   .course-cat h1{
    font-size: 22px;
}
    .accents h1 {
        font-size: 19px;
    }
    .accents-text{
        font-size: 15px;
    }

}
@media only screen and (max-width: 320px) {
    
    .alpha ul li h2{
    font-size: 22px;
}
    .days ul li{
    width: 110px;
    height: auto;
    margin: 10px 8px 0px 0px;
    text-align: center;
    float: none!important;
}
    .days h2{
    line-height: 19px;
}
.days p {
    font-size: 14px;
}
    .btn-leson {
    background: #225470;
    margin: 15px 2px 0px 0px;
    font-size: 15px;
}
        
}


